## Standard Python files and directories
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
.pytest_cache/

## Python package initialization files
__init__.py

## Application-specific files and directories
analysis_reports/