## Standard Python files and directories
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
.pytest_cache/

## Application-specific files and directories
analysis_reports/
jass.db

## VS Code
.vscode/